@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn {
     @apply  bg-[#3fcfcf] px-9 py-3 rounded-full text-white font-bold hover:bg-[#69DDDD];
    }
}




.hamburger {
    position:relative;
    width:24px;
    height:24px;
    transition:all 0.25s;
    
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
   
    position:absolute;
    width:24px;
    height:2px;
    top:0;
    left:0;
    background: #9c9aa6;
    transition:all 0.5s;
}

.hamburger-middle {
    transform:translateY(7px)
}

.hamburger-bottom {
    transform:translateY(14px)
}

.open {
    transform: rotate(90deg);
    transform:translateY(0px)
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px)
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px)
}